<form (ngSubmit)="submit()" [formGroup]="MomentForm" #formDir="ngForm">
  <div class="form-group">
    <label for="title">Título:</label>
    <input
      type="text"
      placeholder="Informe o título"
      required
      formControlName="title"
    />
    <div *ngIf="title.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="title.errors?.['required']">O Título é obrigatório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Descrição:</label>
    <textarea
      required
      placeholder="Conte sobre seu Momento!"
      formControlName="description"
    ></textarea>
    <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="description.errors?.['required']">A descrição é obrigatório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="image">Coloque a foto que mais marcou esse Momento:</label>
    <input type="file" (change)="onFileSelected($event)"/>
  </div>
  <input class="btn-submit" type="submit" value="{{ btnText }}" />
</form>
