* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #444;
  transition: 0.4s;
  &:hover {
    color: #dec129;
  }
}

.container {
  min-height: 65vh;
  margin-top: 1rem;
}
/* VALIDACAO GLOBAL */
.validation-error{
  p{
    color: #dc3545;
    margin-top: 0.4rem;
    border-left: 3px solid #dc3545;
    padding-left: 0.2rem;
  }
}

/* FORM GLOBAL */
form {
  width: 450px;
  margin: 0 auto;

  input[type="submit"] {
    background-color: #efefef;
    border: 2px solid transparent;
    padding: 0.6rem 1rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.4s;

    &:hover {
      color: #dec129;
      border-color: #dec129;
      background-color: transparent;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
      font-weight: bold;
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
    }

    input,
    textarea {
      padding: 0.6rem;
      color: #777;
      font-size: 0.8rem;
    }
  }
}
