* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
}
li{
  list-style: none;
}

a {
  text-decoration: none;
  color: #444;
  transition: 0.4s;
  &:hover {
    color: #dec129;
  }
}

.container{
  min-height: 65vh;
  margin-top: 1rem;
}
